<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartx.bill.mepad.mestore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:name="com.smartx.bill.mepad.mestore.uimgloader.UILApplication"
        android:allowBackup="true"
        android:icon="@drawable/me_store"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.smartx.bill.mepad.mestore.home.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity android:name="com.smartx.bill.mepad.mestore.home.Me" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.home.Ranking" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.home.Category" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.home.Special" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.home.Search" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.recommend.Recommendation" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.recommend.RecomExcellent" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.recommend.RecomNew" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.category.CategoryDetail" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.category.CategoryExcellent" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.category.CategoryRanking" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.category.CategoryNew" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.smartx.bill.mepad.mestore.special.SpecialDetail" android:configChanges="keyboardHidden|orientation|screenSize"/>
        -->
        <activity android:name="com.smartx.bill.mepad.mestore.home.Me" />
        <activity android:name="com.smartx.bill.mepad.mestore.home.Ranking" />
        <activity android:name="com.smartx.bill.mepad.mestore.home.Category" />
        <activity android:name="com.smartx.bill.mepad.mestore.home.Special" />
        <activity android:name="com.smartx.bill.mepad.mestore.home.Search" />
        <activity android:name="com.smartx.bill.mepad.mestore.recommend.Recommendation" />
        <activity android:name="com.smartx.bill.mepad.mestore.recommend.RecomExcellent" />
        <activity android:name="com.smartx.bill.mepad.mestore.recommend.RecomNew" />
        <activity android:name="com.smartx.bill.mepad.mestore.category.CategoryDetail" />
        <activity android:name="com.smartx.bill.mepad.mestore.category.CategoryExcellent" />
        <activity android:name="com.smartx.bill.mepad.mestore.category.CategoryRanking" />
        <activity android:name="com.smartx.bill.mepad.mestore.category.CategoryNew" />
        <activity android:name="com.smartx.bill.mepad.mestore.special.SpecialDetail" />
        
        <activity android:name="com.smartx.bill.mepad.mestore.dialog.AppDetailInfo" />
        <activity android:name="com.smartx.bill.mepad.mestore.dialog.SameDevelpersApp" />
        <activity android:name="com.smartx.bill.mepad.mestore.dialog.AppScore" />
        <activity android:name="com.smartx.bill.mepad.mestore.dialog.AppPermission" />
        <activity
            android:name="com.smartx.bill.mepad.mestore.dialog.DialogAppInfo"
            android:theme="@style/activity_dialog" />
        <activity android:name="com.smartx.bill.mepad.mestore.iostream.DownLoadApk" />
    </application>

</manifest>